/* General container styles */
.row {
  margin-left: 20px;
  margin-right: 20px;
  color: white;
  z-index: 0;
}

.row h1 {
  color: #ffffff; /* Text color for headings */
  font-size: 24px; /* Heading font size */
  margin-left: 0; /* Align the text to the left */
}

/* Flexbox for images */
.row__posters {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px 0;
}

/* Hide scrollbar */
.row__posters::-webkit-scrollbar {
  display: none;
}

.row__poster {
  object-fit: contain;
  width: 100%;
  max-height: 200px;
  margin-right: 10px;
  transition: transform 450ms;
  border-radius: 5px;
  position: relative;
}

/* Scale effect on hover */
.row__poster:hover {
  transform: scale(1.08);
  opacity: 1;
  content: attr(tooltip-text);
}

/* Larger row for "Netflix Originals" */
.row__posterLarge {
  max-height: 300px;
  /* max-width: 250px; */
}

.row__posterLarge:hover {
  transform: scale(1.09);
}

.ignore {
  display: none;
}

/* popup */

.display-non {
  display: none;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}
